WebServiceProjektWindowsFormApp/Service References/ServiceReferenceCsharp/WebServiceCsharp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://grupp14VT.lu.se" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://grupp14VT.lu.se" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://grupp14VT.lu.se">
      <s:element name="GetAllApartments">
        <s:complexType />
      </s:element>
      <s:element name="GetAllApartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllApartmentsResult" type="tns:ArrayOfApartment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfApartment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Apartment" nillable="true" type="tns:Apartment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Apartment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApartmentNr" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFileContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRelative">
        <s:complexType />
      </s:element>
      <s:element name="GetRelativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRelativeResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeAbsence">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeAbsenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeAbsenceResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSickestEmployee">
        <s:complexType />
      </s:element>
      <s:element name="GetSickestEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSickestEmployeeResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKeys">
        <s:complexType />
      </s:element>
      <s:element name="GetKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeysResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexes">
        <s:complexType />
      </s:element>
      <s:element name="GetIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexesResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConstraints">
        <s:complexType />
      </s:element>
      <s:element name="GetConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConstraintsResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTables">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTablesResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTables2">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTables2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTables2Result" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeesMeta">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesMetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesMetaResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeesMeta2">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesMeta2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesMeta2Result" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeResult" type="tns:Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployeeResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllApartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllApartments" />
  </wsdl:message>
  <wsdl:message name="GetAllApartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllApartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileContent" />
  </wsdl:message>
  <wsdl:message name="GetFileContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileContentResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRelativeSoapIn">
    <wsdl:part name="parameters" element="tns:GetRelative" />
  </wsdl:message>
  <wsdl:message name="GetRelativeSoapOut">
    <wsdl:part name="parameters" element="tns:GetRelativeResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAbsenceSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeAbsence" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeAbsenceSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeAbsenceResponse" />
  </wsdl:message>
  <wsdl:message name="GetSickestEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSickestEmployee" />
  </wsdl:message>
  <wsdl:message name="GetSickestEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSickestEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeysSoapIn">
    <wsdl:part name="parameters" element="tns:GetKeys" />
  </wsdl:message>
  <wsdl:message name="GetKeysSoapOut">
    <wsdl:part name="parameters" element="tns:GetKeysResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexes" />
  </wsdl:message>
  <wsdl:message name="GetIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="GetConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetConstraints" />
  </wsdl:message>
  <wsdl:message name="GetConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTablesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTables" />
  </wsdl:message>
  <wsdl:message name="GetAllTablesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTablesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTables2SoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTables2" />
  </wsdl:message>
  <wsdl:message name="GetAllTables2SoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTables2Response" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesMetaSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeesMeta" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesMetaSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesMetaResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesMeta2SoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeesMeta2" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesMeta2SoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesMeta2Response" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceCsharpSoap">
    <wsdl:operation name="GetAllApartments">
      <wsdl:input message="tns:GetAllApartmentsSoapIn" />
      <wsdl:output message="tns:GetAllApartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileContent">
      <wsdl:input message="tns:GetFileContentSoapIn" />
      <wsdl:output message="tns:GetFileContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input message="tns:GetEmployeesSoapIn" />
      <wsdl:output message="tns:GetEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRelative">
      <wsdl:input message="tns:GetRelativeSoapIn" />
      <wsdl:output message="tns:GetRelativeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsence">
      <wsdl:input message="tns:GetEmployeeAbsenceSoapIn" />
      <wsdl:output message="tns:GetEmployeeAbsenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSickestEmployee">
      <wsdl:input message="tns:GetSickestEmployeeSoapIn" />
      <wsdl:output message="tns:GetSickestEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKeys">
      <wsdl:input message="tns:GetKeysSoapIn" />
      <wsdl:output message="tns:GetKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <wsdl:input message="tns:GetIndexesSoapIn" />
      <wsdl:output message="tns:GetIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConstraints">
      <wsdl:input message="tns:GetConstraintsSoapIn" />
      <wsdl:output message="tns:GetConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTables">
      <wsdl:input message="tns:GetAllTablesSoapIn" />
      <wsdl:output message="tns:GetAllTablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTables2">
      <wsdl:input message="tns:GetAllTables2SoapIn" />
      <wsdl:output message="tns:GetAllTables2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesMeta">
      <wsdl:input message="tns:GetEmployeesMetaSoapIn" />
      <wsdl:output message="tns:GetEmployeesMetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesMeta2">
      <wsdl:input message="tns:GetEmployeesMeta2SoapIn" />
      <wsdl:output message="tns:GetEmployeesMeta2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input message="tns:GetEmployeeSoapIn" />
      <wsdl:output message="tns:GetEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input message="tns:AddEmployeeSoapIn" />
      <wsdl:output message="tns:AddEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input message="tns:DeleteEmployeeSoapIn" />
      <wsdl:output message="tns:DeleteEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input message="tns:UpdateEmployeeSoapIn" />
      <wsdl:output message="tns:UpdateEmployeeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceCsharpSoap" type="tns:WebServiceCsharpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllApartments">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetAllApartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileContent">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetFileContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelative">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetRelative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsence">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetEmployeeAbsence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSickestEmployee">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetSickestEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeys">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConstraints">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTables">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetAllTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTables2">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetAllTables2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesMeta">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetEmployeesMeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesMeta2">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetEmployeesMeta2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://grupp14VT.lu.se/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://grupp14VT.lu.se/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://grupp14VT.lu.se/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://grupp14VT.lu.se/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceCsharpSoap12" type="tns:WebServiceCsharpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllApartments">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetAllApartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileContent">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetFileContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelative">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetRelative" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeAbsence">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetEmployeeAbsence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSickestEmployee">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetSickestEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeys">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConstraints">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTables">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetAllTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTables2">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetAllTables2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesMeta">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetEmployeesMeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesMeta2">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetEmployeesMeta2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap12:operation soapAction="http://grupp14VT.lu.se/GetEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap12:operation soapAction="http://grupp14VT.lu.se/AddEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap12:operation soapAction="http://grupp14VT.lu.se/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap12:operation soapAction="http://grupp14VT.lu.se/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceCsharp">
    <wsdl:port name="WebServiceCsharpSoap" binding="tns:WebServiceCsharpSoap">
      <soap:address location="http://localhost:44285/WebServiceCsharp.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceCsharpSoap12" binding="tns:WebServiceCsharpSoap12">
      <soap12:address location="http://localhost:44285/WebServiceCsharp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>